.venv/
.objaverse/
.huggingface/
/**/.textures
/**/logs
/**/__pycache__/
1-annotations_filtering/objaverse 1.0.pkl
1-annotations_filtering/objaverse xl.pkl
1-annotations_filtering/objaverse_cleaned.csv
1-annotations_filtering/objaverse_cleaned.parquet
.vscode/

data/0-annotations.pkl
data/1-annotations_filtered.parquet
data/dataset/**
.shapenet/
