.env
.venv/
.huggingface/
/**/.textures
/**/logs
/**/__pycache__/
1-annotations_filtering/objaverse 1.0.pkl
1-annotations_filtering/objaverse xl.pkl
1-annotations_filtering/objaverse_cleaned.csv
1-annotations_filtering/objaverse_cleaned.parquet
.vscode/

dataset/objaverse/0-annotations.pkl
dataset/objaverse/1-annotations_filtered.parquet
dataset/objaverse/objects/**
dataset/objaverse/diffuse/**
dataset/objaverse/uv/**
dataset/objaverse/render/**
dataset/shapenetcore/objects/**
dataset/shapenetcore/diffuse/**
dataset/shapenetcore/uv/**
dataset/shapenetcore/render/**

4-control_net_training/dataset/
4-control_net_training/trainings/
controlnet_sd15.log
