.env
.venv/
.huggingface/
/**/.textures
/**/logs
/**/__pycache__/
1-annotations_filtering/objaverse 1.0.pkl
1-annotations_filtering/objaverse xl.pkl
1-annotations_filtering/objaverse_cleaned.csv
1-annotations_filtering/objaverse_cleaned.parquet
.vscode/
*.blend
*.blend1

dataset/objaverse/0-annotations.pkl
dataset/objaverse/1-annotations_filtered.parquet
dataset/objaverse/**
dataset/objaverse_bkp/**
dataset/shapenetcore/**

4-control_net_training/dataset/train/**/
4-control_net_training/dataset/train/metadata.csv
4-control_net_training/trainings/
controlnet_sd15.log
4-control_net_training/dataset.zip
4-control_net_training/diffusers/
controlnet_sdxl.log
