accelerate
bpy
datasets
diffusers
huggingface-hub
numpy<2
objaverse
pandas
requests
safetensors
seaborn
tensorboard
torch
torchvision
tqdm
trimesh
rich
termcolor
scipy
piq
brisque
pillow
torchmetrics
torchmetrics[image]
torch-fidelity